<% layout('layouts/boilerplate') %>
    <div class="row text-white">
        <h1 class="display-1">Edit Campground</h1>
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price-label" placeholder="0.00" name="campground[price]"
                        value="<%= campground.price %>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="description">
                    Description
                </label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class=" mb-3">
                <div class="mb-3">
                    <label for="images" class="form-label">Add more images</label>
                    <input class="form-control" name="image" type="file" id="images" multiple>
                </div>
            </div>
            <div class="mb-3">
                <div class="container">
                    <div class="row">
                        <% campground.images.forEach(function(img, i) { %>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="d-flex flex-column align-items-center">
                                    <img src="<%= img.thumbnail %>" class="rounded w-100 h-auto shadow" alt="Image">
                                    <div class="mt-2">
                                        <div class="form-check-inline m-0">
                                            <input type="checkbox" id="img-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                                        </div>
                                        <label for="img-<%= i %>">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                <path
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>                
            </div>

            <button class="btn btn-success">Update Campground</button>
            <a class="btn btn-secondary" href="/campgrounds/<%=campground._id %>">Back</a>
        </form>
    </div>